.forms {
  margin-left: 705px;
  margin-bottom: 15px;
  margin-top: 20px;
}

.button-class {
  margin-top: -650px;
  margin-right: -620px;
  border-radius: 7px;
  padding: 7px;
  background-color: #fbbf24;
  border: #fbbf24;
  color: rgb(255, 250, 250);
}

.input-class {
  margin-top: -650px;
  margin-right: 5px;
  border-radius: 7px;
  padding: 7px;
}
